#dateAndTerminal{
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 50.0;
}
#datepickerBox{
    -fx-spacing: 40;
    -fx-alignment: TOP_CENTER;
}
#title{
    -fx-text-fill: #7c8a96;
    -fx-font-size: 24px;
    -fx-alignment: top-center;
    -fx-font-weight: bold;
}

#terminal{
    -fx-min-width: 250;
}
#next:hover{
    -fx-background-color: #10E7DC;
}
#errorLabelTerminal{
    -fx-font-size: 12;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-alignment: center;
    -fx-text-alignment: center;
}