#fillHolesBox{
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-fill-width: false;
    -fx-max-width: 1000;
    -fx-fill-height: false;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );
}


#tablesBox{
    -fx-spacing: 20;
}
#terminalsAndTurnsHeader{
    -fx-font-size: 30;
    -fx-spacing: 50;
}
#substitutesHeader{
    -fx-spacing: 50;
    -fx-font-size: 30;
}
#substitutesBoxColumn1,#substitutesBoxColumn2,
#terminalAndTurnsBoxColumn2,#terminalAndTurnsBoxColumn1{
    -fx-text-fill: #7c8a96;
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-alignment: center;
    -fx-padding:10,0,0,0;
}
#scroll,#scroll2{
    -fx-border-color: #0074E1;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
}
#terminalsAndTurnsBox,#substitutesBox,#terminalsAndTurnsHeader,#substitutesHeader{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
}