#vbox{
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-fill-width: false;
    -fx-max-width: 1000;
    -fx-fill-height: false;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );
}

#grouphbox,#groupvbox,#buttonbox,#buttonbox2{
    -fx-spacing: 20;
    -fx-alignment: center;
}
#buttonbox2{
    -fx-padding: 30;
    -fx-alignment: bottom-center;
}
#groupvbox{

    -fx-padding: 5;
    -fx-alignment: center;
    -fx-fit-to-height: inherit;
    -fx-min-height: 300;
    -fx-max-height: 300;
    -fx-min-width: 240;
    -fx-max-width: 240;
}
#grouphbox{
    -fx-background-color: white;
    -fx-min-width: 430;
    -fx-fit-to-width: inherit;
    -fx-min-height: 300;
    -fx-max-height: 300;
}

#scrollPane{
    -fx-blend-mode: src-over;
    -fx-fit-to-width: true;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-fill-width: false;
    -fx-fill-height: false;
}

#tableInfo{
    -fx-min-height:210 ;
    -fx-background-color: white;
    -fx-blend-mode: src-over;
    -fx-text-fill: #7c8a96;
    -fx-alignment: top-center;
}
#internalHBox{
    -fx-alignment: top-center;
    -fx-fill-height: false;
}
#infoGrupo{
    -fx-min-width: 240;
    -fx-alignment: center;
}
#internalHBox >.label{
    -fx-spacing: 10;
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 15;
    -fx-min-width: 90;
    -fx-max-width: 90;
}
#buttonbox > .button {
    -fx-min-width: 40;
    -fx-max-width: 40;
}

#reset:hover,#run:hover {
    -fx-border-color: transparent;
    -fx-background-color: #0074E1;
}

#add{
    -fx-background-color: #0074E1;
}
#sub{
    -fx-background-color: #6CDAEE;
}

#add:hover{
    -fx-background-color: #10E7DC;
    -fx-border-color: transparent;
}
#sub:hover{
    -fx-border-color: transparent;
    -fx-background-color: #10E7DC;
}

#field1{
    -fx-padding: 5;
    -fx-min-width: 90;
    -fx-max-width: 90;
    -fx-text-fill: #7c8a96;
    -fx-font-size: 13;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#field2{
    -fx-padding: 5;
    -fx-min-width: 90;
    -fx-max-width: 90;
    -fx-text-fill: #7c8a96;
    -fx-font-size: 13;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: justify;
}
#field3{
    -fx-padding: 5;
    -fx-min-width: 90;
    -fx-max-width: 90;
    -fx-alignment: center;
    -fx-fill-height: true;

}
