#vbox{
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
}
#terminals,#days{
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-border-color: #0074E1;
    -fx-border-width: 2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-padding: 10;
}

#scrollbox{
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-alignment: top-center;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;

}
#scrollpane{
    -fx-border-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 10px;
}
#internalhbox{
    -fx-spacing: 10;
    -fx-alignment: center;
}

#internalvbox{
    -fx-fill-width: false;
    -fx-alignment: center;
    -fx-spacing: 5;
}

#params{
    -fx-max-width: 200;
    -fx-min-width: 200;
}

#internalBox{
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-fill-width: false;
    -fx-max-width: 480;
    -fx-min-width: 480;
    -fx-fill-height: false;
    -fx-padding: 5;
    -fx-background-color: white;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );
}

#driverId,#driverTerminal,#terminalColumn1,
#terminalColumn2,#dayColumn1,#dayColumn2,#dayColumn3,#dayColumn4,
#field1,#field2,#field3,#field4{
    -fx-text-fill: #7c8a96;
    -fx-font-size: 16px;
    -fx-min-width: 110;
    -fx-max-width: 110;
    -fx-text-alignment: center;
}

#terminalColumn1,#terminalColumn2,#dayColumn1,#dayColumn2,#dayColumn3,#dayColumn4{
    -fx-font-size: 19px;
    -fx-font-weight: bold;
}
