#requestForDay{
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-fill-width: false;
}

#sonRequest{
    -fx-spacing: 30;
    -fx-padding: 50 0 0 0;
    -fx-alignment: bottom-center;
}
#back{
    -fx-background-color:#10E7DC;

}
#back:hover{
    -fx-background-color:#10E7DC;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
#back:hover{
    -fx-background-color:#10E7DC;
    -fx-border-color: black;
}
#cancel:hover{
    -fx-background-color:#F79E02;
    -fx-border-color: black;
}
#next{
    -fx-background-color: #0074E1;
}
#next:hover{
    -fx-background-color: #0074E1;
    -fx-border-color: black;
}

#titleDay{
    -fx-text-fill: #7c8a96;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}