#requestForDay{
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-fill-width: false;
    -fx-pref-width: 600.0;
    -fx-pref-height:400.0;
}

#sonRequest{
    -fx-spacing: 60;
    -fx-pref-width: 400.0;
    -fx-pref-height:100.0;
    -fx-alignment: top-center;
}
#cancel{
    -fx-pref-width: 100;
    -fx-pref-height: 15;
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: white;
}
#next{
    -fx-pref-width: 100;
    -fx-pref-height: 15;
    -fx-background-color: linear-gradient(green, darkgreen);
    -fx-text-fill: white;
}