#requestForDay{
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-fill-width: false;
}

#sonRequest{
    -fx-spacing: 60;
    -fx-padding: 50 0 0 0;
    -fx-alignment: bottom-center;
}
#back{
    -fx-background-color:#10E7DC;
}
#cancel{
    -fx-background-color:#F79E02
}
#next{
    -fx-background-color: #0074E1;
}
#titleDay{
    -fx-text-fill: #7c8a96;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}