#external{
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-max-height: 500;
    -fx-min-height: 500;
}

#vbox{
    -fx-spacing: 20;
    -fx-alignment: top-center;
    -fx-fill-width: true;
    -fx-max-width: 400;
    -fx-min-width: 400;
    -fx-fill-height: false;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );
}

#scrollpane{
    -fx-border-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}
#ancorPane{
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-alignment: center;
    -fx-background-color: white;
}

#buttonbox{
    -fx-spacing: 10;
    -fx-alignment: center;
}

#labelOne{
    -fx-wrap-text: true;
}

#driverId, #driverTerminal {
    -fx-text-fill: #7c8a96;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-min-width: 150;
    -fx-max-width: 200;
    -fx-fit-to-height: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

 .button:hover{
     -fx-background-color: #0074E1;
     -fx-border-color: transparent;
 }

