#basebox{
    -fx-spacing: 20;
    -fx-alignment: center;
}
#datebox{
    -fx-alignment: center;
    -fx-spacing: 10;
}
#dataI,#dataF{
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
    -fx-alignment: top-center;
    -fx-font-size: 18
}

#terminalLabel{
    -fx-alignment: top-center;
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
    -fx-max-width: 500;
    -fx-text-alignment: center;
    -fx-spacing: 20;
}

#dayLabel{
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
    -fx-alignment: top-center;
    -fx-text-alignment: center;
    -fx-spacing: 20;
    -fx-font-size: 20;
}

#indietro,#avanti{
    -fx-max-width: 40;
    -fx-max-height: 40;
    -fx-min-width: 40;
    -fx-min-height: 40;
}
#shiftInfoLabel{
    -fx-alignment: center;
}
#infoBox{
    -fx-alignment: center;
    -fx-spacing: 10;
}
#indietro:hover,#avanti:hover{
    -fx-background-color: #10E7DC;
}
