#baseBox{
    -fx-spacing: 100;
}
#dataI,#dataF{
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
    -fx-alignment: top-center;
    -fx-spacing: 20;
}

#terminalLabel{
    -fx-alignment: top-center;
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
    -fx-max-width: 500;
    -fx-text-alignment: center;
    -fx-spacing: 20;
}
#shiftLabel{
    -fx-alignment: inherit;
}
#quantityLabel{
    -fx-alignment: inherit;
}
#dayLabel{
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
    -fx-alignment: top-center;
    -fx-spacing: 20;
}
#indietro:hover{
    -fx-background-color: #10E7DC;
}
#avanti:hover{
    -fx-background-color: #10E7DC;
}