#baseManager,#baseHR{
    -fx-alignment: center;
    -fx-fill-width: true;
    -fx-spacing: 10;
    -fx-padding: 10;
}

#notificationBox{
    -fx-alignment: TOP_RIGHT;
    -fx-pref-height:50;
    -fx-pref-width:60;
}

#optionsBox{
    -fx-padding:0 0 0 10;
    -fx-spacing:10;
    -fx-alignment: center;
}

#topMenu{
    -fx-spacing: 10;
    -fx-alignment: top-right;
    -fx-padding: 10;
}

.topMenuLabel{
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

#optionsBox > .button{
    -fx-max-width: 185;
    -fx-min-width: 185;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}
