#fillHolesBox{
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: top-left;
    -fx-fill-width: false;
}

#tablesBox{
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-fill-width: false;
}
