#title{
    -fx-font-size: 24;
    -fx-text-fill: grey;
}
#changePasswordButton{
    -fx-min-width: 180;
}
#internalChangePass{
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-fill-width: false;
    -fx-max-width: 250px;
    -fx-max-height: 300px;
}

#changepasswordbox{
    -fx-spacing: 45;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-fill-width: false;
    -fx-min-width: 600px;
    -fx-min-height: 500px;
}

#buttonBox{
    -fx-spacing: 5;
}