#title{
    -fx-font-size: 24;
    -fx-text-fill: grey;
}

#changepasswordbox{
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-fill-width: false;
}

.error{
    -fx-text-fill: #ff3936;
    -fx-wrap-text: true;
}