#vBoxExternal{
    -fx-alignment: center;
    -fx-max-width: 1000;
    -fx-max-height: 900;
    -fx-fill-height: false;
    -fx-fill-width: false;
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );
}
#hBox{
    -fx-spacing: 30;
    -fx-alignment: center;
}

#vBox{
    -fx-spacing: 20;
}

