#title{
    -fx-font-size: 24;
    -fx-text-fill:  white;
    -fx-font-weight: bold;
}
#vBox{
    -fx-alignment: top-center;
    -fx-spacing: 20;
}

#internalVBox{
    -fx-min-width: 500;
    -fx-min-height: 550;
    -fx-max-width: 500;
    -fx-max-height: 550;
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );
}