#pane{
    -fx-background-color: linear-gradient(rgba(33,218,235,1) , rgba(0,242,206,1));

}

.label{
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-font-family: AvenirLTStd-Book, Helvetica, Arial, sans-serif;
}

.error{
    -fx-text-fill: #ff3936;
    -fx-wrap-text: true;
    -fx-max-width: 250px;
    -fx-text-alignment: center;
}

.text-field:focused {
    -fx-focus-color: transparent;
}

.text-field{
    -fx-text-fill: #7c8a96;
    -fx-background-color: #f6f9f9;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-min-height: 35px;
    -fx-font-family: AvenirLTStd-Book, Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-accent: #10E7DC;
}
.combo-box .cell{
    -fx-text-fill: #7c8a96;
    -fx-font-family: AvenirLTStd-Book, Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
}
.combo-box{
    -fx-background-color: #f6f9f9;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-min-height: 35px;
    -fx-accent: #10E7DC;
}

.combo-box-popup .list-view
{
    -fx-padding: 5;
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );
}

.combo-box.list-cell ,.combo-box.list-view.list-cell {
    -fx-text-fill: #7c8a96;
}

.button{
    -fx-border-color: transparent;
    -fx-background-color: #F79E02;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-family: AvenirLTStd-Book, Helvetica, Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-min-width: 140px;
    -fx-min-height: 40px;
    -fx-border-width: 2px;
}

.button:hover{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.scroll-bar{
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:  #6CDAEE;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #6CDAEE;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #1B9CE5;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #0074E1;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: transparent;
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:horizontal .decrement-arrow:hover,
.scroll-bar:vertical .decrement-arrow:hover,
.scroll-bar:horizontal .increment-arrow:hover,
.scroll-bar:vertical .increment-arrow:hover{
    -fx-background-color: #1B9CE5;
}
.scroll-bar:horizontal .decrement-arrow:pressed,
.scroll-bar:vertical .decrement-arrow:pressed,
.scroll-bar:horizontal .increment-arrow:pressed,
.scroll-bar:vertical .increment-arrow:pressed{
    -fx-background-color: #0074E1;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}


.date-picker{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
.date-picker.button{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
.date-picker-popup > * > .spinner{
    -fx-background-color: #1B9CE5;
    -fx-padding: 2;
    -fx-spacing: 3;
}

.date-picker-popup{
    -fx-padding: 5;
    -fx-background-color: #1B9CE5;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );

}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #1B9CE5;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
.date-picker-popup > * > .spinner > .button {
    -fx-min-height: 10;
    -fx-min-width: 25;
}

.date-picker-popup > * > .spinner > .label {
    -fx-font-size: 14px;
}


.date-picker > .arrow-button {
    -fx-border-radius: 33px;
    -fx-background-radius: 33px;
}


.table-view .column-header,
.tree-table-view > .column-header{
    -fx-background-color:linear-gradient(#1B9CE5,#6CDAEE);
    -fx-background-insets: 0, 1;
    -fx-max-width: 50px;

}
.table-view{
    -fx-padding: 5;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 0 );

}

.table-row-cell:selected{
   -fx-background-color:#10E7DC;
}
.check-box{
    -fx-padding: 5;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
}
.check-box .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #1B9CE5;
}

.accordion > .titled-pane> .title{
    -fx-border-color: #1B9CE5;
    -fx-background-color: #F79E02;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: AvenirLTStd-Book, Helvetica, Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-border-width: 2px;
    -fx-min-width: 100;
}

.accordion > .titled-pane{
    -fx-text-fill: white;
    -fx-padding: 0 0 0.5em 0;
}
.accordion > .titled-pane:hover{
    -fx-text-fill: #1B9CE5;
}
.accordion > .titled-pane> .title:hover{
    -fx-background-color: transparent;
    -fx-border-color: #1B9CE5;
    -fx-text-fill: #10E7DC;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-min-width: 100;
}

.titled-pane > *.content {
    -fx-padding: 5;
    -fx-background-insets: 0, 1;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #f6f9f9;
    -fx-border-color: #1B9CE5;
    -fx-border-width: 2px;
}
.titled-pane > *.content .label {
    -fx-font-size: 16;
    -fx-text-fill: #7c8a96;
    -fx-font-weight: bold;
}
